@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Work+Sans:wght@400;500;700&display=swap");

//color
$bg: #f2f6f8;
$primary: #0a6ada;
$secondary: #df142d;
$accent: rgba(223, 20, 45, 0.06);
$primary-d: #163668;

$bg-btn-1: rgba(124, 130, 155, 0.05);
$bg-btn-2: #f3f5fa;
$bg-btn-3: rgba(108, 134, 177, 0.2);
