@import "variables";

.slick-slider {
    overflow: hidden;
}

.slick-slide {
    display: none;
    float: left;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    margin: 0 15px;
}

.slick-custom {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    .slider {
        &__item {
            transform: scale(1);
            transition: all 300ms ease;
            bottom: 0;
            overflow: hidden;
            opacity: 1;
        }
        .slick-center {
            transform: scale(1);
            opacity: 1;
        }
    }
}
