@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans";
    font-size: 14px;
    padding: 34px 0 0 40px;
    position: relative;
    width: 100%;
    display: flex;
    height: 2000px;
    background: #e5e5e5;
    min-width: 1400px;
}

//components
.container {
    padding: 0 60px;
}
button {
    cursor: pointer;
}

img {
    width: 100%;
}
.card {
    background: #ffffff;
    border-radius: 16px;
}

.btn {
    border-radius: 180px;
    border: none;
    padding: 12px 26px;
    font-weight: 600;

    // background: rgba(108, 134, 177, 0.2);
    // backdrop-filter: blur(5px);
}
.btn--white {
    color: #282e44;
    background: rgba(0, 0, 0, 0.0001);

    &:hover {
        background: #163668;
        color: white;
        .icon {
            filter: brightness(0) invert(1);
        }
    }
}
.btn--purple {
    color: #353f65;
    opacity: 0.9;
}

.tab-bar {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    &__item {
        &--label {
            font-family: "Open Sans";
            text-transform: uppercase;
            padding: 5px 22px;
        }
        &--tab {
            color: #353f65;
            padding: 9px 22px;
            font-weight: 600;
            line-height: 130%;
            border-radius: 180px;
            &:hover {
                background: #f0f2f6;
            }
        }
    }
    .active {
        background: #f0f2f6;
    }
}

//row
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

/* ---- Start Icon ---- */

.icon {
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.icon-home-add {
    background-image: url("../images/icon/icon-home-add.png");
    width: 30px;
    height: 30px;
}
.icon-down {
    background-image: url("../images/icon/icon-down.png");
    width: 8px;
    height: 5px;
}
.icon-down-2 {
    background-image: url("../images/icon/icon-down-2.png");
    width: 12px;
    height: 7.5px;
}
.icon-calendar {
    background-image: url("../images/icon/icon-calendar.png");
    width: 10.8px;
    height: 12px;
}
.icon-plane {
    background-image: url("../images/icon/icon-plane.png");
    width: 24px;
    height: 21px;
}
.icon-bed {
    background-image: url("../images/icon/icon-bed.png");
    width: 24px;
    height: 24px;
}
.icon-home {
    background-image: url("../images/icon/icon-home.png");
    width: 24px;
    height: 24px;
}
.icon-car {
    background-image: url("../images/icon/icon-car.png");
    width: 24px;
    height: 24px;
}
.icon-home-2 {
    background-image: url("../images/icon/icon-home-2.png");
    width: 18px;
    height: 18px;
}
.icon-wallet {
    background-image: url("../images/icon/icon-wallet.png");
    width: 18px;
    height: 18px;
}
.icon-contacts {
    background-image: url("../images/icon/icon-contacts.png");
    width: 18px;
    height: 18px;
}
.icon-bag {
    background-image: url("../images/icon/icon-bag.png");
    width: 18px;
    height: 18px;
}
.icon-earth {
    background-image: url("../images/icon/icon-earth.png");
    width: 18px;
    height: 18px;
}
.icon-help {
    background-image: url("../images/icon/icon-help.png");
    width: 18px;
    height: 18px;
}
.icon-bar {
    background-image: url("../images/icon/icon-bar.png");
    width: 18px;
    height: 13.16px;
    cursor: pointer;
}
.icon-bar-reverse {
    background-image: url("../images/icon/icon-bar.png");
    width: 18px;
    height: 13.16px;
    transform: scaleX(-1);
    display: none;
    cursor: pointer;
}
.icon-award {
    background-image: url("../images/icon/icon-award.png");
    width: 10.8px;
    height: 16.18px;
}
.icon-local {
    background-image: url("../images/icon/icon-local.png");
    width: 8px;
    height: 12px;
}
.icon-pause {
    background-image: url("../images/icon/icon-pause.png");
    width: 8.78px;
    height: 8.78px;
}
.icon-char {
    background-image: url("../images/icon/icon-char.png");
    width: 8.78px;
    height: 8.78px;
}
.icon-right {
    background-image: url("../images/icon/icon-right.png");
    width: 13.42px;
    height: 7.58px;
}
.icon-char-2 {
    background-image: url("../images/icon/icon-char-2.png");
    width: 10px;
    height: 12px;
}
.icon-wifi {
    background-image: url("../images/icon/icon-wifi.png");
    width: 14.42px;
    height: 10.18px;
}
.icon-checked {
    background-image: url("../images/icon/icon-checked.png");
    width: 20px;
    height: 20px;
}
.icon-parking {
    background-image: url("../images/icon/icon-parking.png");
    width: 9.92px;
    height: 14px;
}
.icon-bath {
    background-image: url("../images/icon/icon-bath.png");
    width: 15px;

    height: 12px;
}
.icon-camera {
    background-image: url("../images/icon/icon-camera.png");
    width: 14.72px;
    height: 10.82px;
}
.icon-baby-food {
    background-image: url("../images/icon/icon-baby-food.png");
    width: 12.73px;
    height: 12.73px;
}
.icon-arrow-left {
    background-image: url("../images/icon/icon-arrow-left.png");
    width: 6.25px;
    height: 10px;
}
.icon-arrow-right {
    background-image: url("../images/icon/icon-arrow-right.png");
    width: 6.25px;
    height: 10px;
}
/* ---- End Icon ---- */

.bg-top {
    background-image: url("../images/background.svg");
    width: 100%;
    height: 431px;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: -1;
}
.main-layout {
    flex: 1;
}

/* --- section styles --- */
.section {
    flex-wrap: wrap;
    margin-bottom: 50px;
    &__title {
        width: 100%;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        color: #282e44;
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        &--sub {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #282e44;
            opacity: 0.5;
        }
    }
}

.profile-bar {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    > * {
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 14px 5px 6px;
    }
    margin-bottom: 76px;
    button {
        background: rgba(108, 134, 177, 0.2);
    }
}

//navbar
.navbar {
    text-transform: uppercase;
    margin-bottom: 20px;
    .active {
        background-color: $primary;
    }
    a {
        text-decoration: none;
    }
    &__menu {
        width: 100%;
        display: flex;
        height: 73px;
        align-items: center;
        li {
            list-style: none;
            width: 68px;
            padding: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 8px;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            &:hover {
                background-color: $primary;
            }

            a {
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: white;
            }
        }
    }
}

.form-search {
    padding: 35px 38px 38px;
    margin-bottom: 42px;
}
.sidebar {
    width: 240px;
    height: 709px;
    flex: 0 0 auto;
    background: linear-gradient(
        141.08deg,
        #0a69da 32.24%,
        #0856c8 115.93%,
        #0231a5 164.9%
    );
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    &--menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 75px 46px 180px 24px;
        > * {
            color: white;
            padding: 10px 16px;
            display: flex;
            align-items: center;
            gap: 13px;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            cursor: pointer;
            &:hover {
                background-color: #0076ff;
            }
        }
    }
    &--footer {
        background-image: url("../images/img-bar-bottom.png");
        background-size: cover;
        height: 100%;
        width: 100%;
        padding: 62px 30px 40px;
        > div {
            display: flex;
            flex-direction: row;
            background-color: $bg-btn-2;
            padding: 7px 10px;
            gap: 12px;
            justify-content: space-between;
            align-items: center;
            .logo {
                display: flex;
                flex-direction: row;
                width: 30px;
                height: 30px;
                background: linear-gradient(
                    214.51deg,
                    #d10015 13.77%,
                    #ff4369 83.58%
                );
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }
    }

    .logo {
        width: 65px;
        height: 16px;
        img {
            object-fit: cover;
            object-position: center;
        }
    }
    &--bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px 0;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    .row {
        gap: 20px;
    }
    &__item {
        flex: 1;
        padding: 14px 18px 6px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: rgba(124, 130, 155, 0.05);
        border: 1px solid #eef0f4;
        border-radius: 8px;
        &--large {
            min-width: 328px;
        }
        font-weight: 400;
        color: #475073;
        input,
        select {
            border: none;
            background: none;
            outline: none;
            width: 100%;
        }
        &--label {
            font-size: 12px;
            line-height: 12px;
            opacity: 0.3;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 2px;
            option,
            select {
                text-transform: uppercase;
            }
        }
        &--title {
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #2e3758;
            display: flex;
            input {
                width: 15px;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #2e3758;
            }
        }
        &--sub-title {
            font-size: 12px;
            line-height: 20px;
        }
    }
    input[type="submit"] {
        border-radius: 6px;
        background-color: $secondary;
        font-weight: 800;
        font-size: 18px;
        line-height: 18px;
        color: #ffffff;
        text-transform: uppercase;
        width: 224px;
        max-width: 224px;
    }
}

#special-offer {
    overflow: hidden;
    .section {
        &__title {
            margin-left: 60px;
        }
        &__content {
            margin-left: -15px;
            overflow: hidden;
        }
    }
    .card {
        padding: 24px;
        width: 462px;
        height: 188px;
        display: flex;
        border-radius: 14px;
        gap: 30px;
        &--img {
            width: 110px;
            border-radius: 14px;
            overflow: hidden;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
        &__label {
            text-transform: uppercase;
            font-weight: 600;
            opacity: 0.5;
            font-size: 12px;
            line-height: 12px;
        }
        &__title {
            font-weight: 800;
            color: #475073;
        }
        &__sub-title {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            opacity: 0.9;
            color: #596181;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            align-items: center;
            font-size: 12px;
            line-height: 24px;
            font-weight: 600;
            color: #6c738f;
            span {
                text-transform: uppercase;
                font-weight: 700;

                color: #475073;
            }
            .btn {
                color: #df142d;
                padding: 8px 0;
                width: 98px;
            }
        }
        &--text {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 10px 0;
        }
    }
}

#best-offer {
    padding: 29px 25px 14px 54px;
    .section {
        &__content {
            div:last-child {
                border-bottom: none !important;
            }
        }
    }
}
.flight {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: #282e44;
    font-weight: 700;
    justify-content: space-between;
    border-bottom: 1px solid #c1c4d0;
    padding: 25px 0;
    white-space: nowrap;
    > * {
        flex: 1;
    }

    &__icon {
        display: flex;
        flex: 2;
        white-space: nowrap;
        align-items: center;
        gap: 20px;
        img {
            height: 100%;
            object-fit: cover;
            width: 50px;
            height: 50px;
        }
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #a2a8bf;
        b {
            font-weight: 800;
            color: #282e44;
        }
    }
    &__book {
        button {
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            display: flex;
            align-items: center;
            gap: 7.5px;
            justify-content: center;
        }
    }
}

.banner {
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: 205px;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        top: 58px;
        left: 50px;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: white;
    }
    &__price {
        position: absolute;
        top: 100px;
        left: 50px;
        font-weight: 800;
        font-size: 48px;
        line-height: 48px;
        color: #df142d;
    }
    &--sub-price {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: #e12819;
        text-transform: uppercase;
        position: absolute;
        top: 132px;
        left: 169px;
    }
    &__book {
        position: absolute;
        right: 40px;
        top: 70px;
        button {
            border-radius: 6px;
            color: #ffffff;
            background: #ffcb61;
            padding: 20px 0;
            text-transform: uppercase;
            width: 138px;
            font-weight: 700;
        }
    }
}
.border {
    height: 1px;
    flex: 1;
    background-color: #e6e6e9;
}

.carousel {
    height: 100%;
    &__control {
        &__nav {
            position: absolute;
            bottom: 14px;
            right: 20px;
            button {
                border-radius: 4px;
                border: none;
                padding: 5px 9px;
                text-align: center;
                &:hover {
                    background-color: orange;
                }
                outline: none;
            }
        }
        &--prev {
            background: rgba(255, 255, 255, 0.2);
        }
        &--next {
            background: rgba(255, 255, 255, 0.5);
        }
        &--dots {
            position: absolute;
            bottom: 16px;
            left: 20px;
            display: flex;
            gap: 6px;
        }
    }
    &__item {
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.services {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #a3a6aa;
    opacity: 0.8;
    align-items: center;
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        &--more {
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: #484848;
        }
    }
}
