@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Work+Sans:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  padding: 34px 0 0 40px;
  position: relative;
  width: 100%;
  display: flex;
  gap: 60px;
  height: 2000px;
  background: #e5e5e5;
}

.container {
  padding-right: 60px;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

.card {
  background: #ffffff;
  border-radius: 16px;
}

.btn {
  border-radius: 180px;
  border: none;
  padding: 12px 26px;
  font-weight: 600;
}

.btn--white {
  color: #282e44;
  background: rgba(0, 0, 0, 0.0001);
}
.btn--white:hover {
  background: #163668;
  color: white;
}
.btn--white:hover .icon {
  filter: brightness(0) invert(1);
}

.btn--purple {
  color: #353f65;
  opacity: 0.9;
}

.tab-bar {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.tab-bar__item--label {
  font-family: "Open Sans";
  text-transform: uppercase;
  padding: 5px 22px;
}
.tab-bar__item--tab {
  color: #353f65;
  padding: 9px 22px;
  font-weight: 600;
  line-height: 130%;
  border-radius: 180px;
}
.tab-bar__item--tab:hover {
  background: #f0f2f6;
}
.tab-bar .active {
  background: #f0f2f6;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

/* ---- Start Icon ---- */
.icon {
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.icon-home-add {
  background-image: url("../images/icon/icon-home-add.png");
  width: 30px;
  height: 30px;
}

.icon-down {
  background-image: url("../images/icon/icon-down.png");
  width: 8px;
  height: 5px;
}

.icon-down-2 {
  background-image: url("../images/icon/icon-down-2.png");
  width: 12px;
  height: 7.5px;
}

.icon-calendar {
  background-image: url("../images/icon/icon-calendar.png");
  width: 10.8px;
  height: 12px;
}

.icon-plane {
  background-image: url("../images/icon/icon-plane.png");
  width: 24px;
  height: 21px;
}

.icon-bed {
  background-image: url("../images/icon/icon-bed.png");
  width: 24px;
  height: 24px;
}

.icon-home {
  background-image: url("../images/icon/icon-home.png");
  width: 24px;
  height: 24px;
}

.icon-car {
  background-image: url("../images/icon/icon-car.png");
  width: 24px;
  height: 24px;
}

.icon-home-2 {
  background-image: url("../images/icon/icon-home-2.png");
  width: 18px;
  height: 18px;
}

.icon-wallet {
  background-image: url("../images/icon/icon-wallet.png");
  width: 18px;
  height: 18px;
}

.icon-contacts {
  background-image: url("../images/icon/icon-contacts.png");
  width: 18px;
  height: 18px;
}

.icon-bag {
  background-image: url("../images/icon/icon-bag.png");
  width: 18px;
  height: 18px;
}

.icon-earth {
  background-image: url("../images/icon/icon-earth.png");
  width: 18px;
  height: 18px;
}

.icon-help {
  background-image: url("../images/icon/icon-help.png");
  width: 18px;
  height: 18px;
}

.icon-bar {
  background-image: url("../images/icon/icon-bar.png");
  width: 18px;
  height: 13.16px;
  cursor: pointer;
}

.icon-bar-reverse {
  background-image: url("../images/icon/icon-bar.png");
  width: 18px;
  height: 13.16px;
  transform: scaleX(-1);
  display: none;
  cursor: pointer;
}

.icon-award {
  background-image: url("../images/icon/icon-award.png");
  width: 10.8px;
  height: 16.18px;
}

.icon-local {
  background-image: url("../images/icon/icon-local.png");
  width: 8px;
  height: 12px;
}

.icon-pause {
  background-image: url("../images/icon/icon-pause.png");
  width: 8.78px;
  height: 8.78px;
}

.icon-char {
  background-image: url("../images/icon/icon-char.png");
  width: 8.78px;
  height: 8.78px;
}

.icon-right {
  background-image: url("../images/icon/icon-right.png");
  width: 13.42px;
  height: 7.58px;
}

/* ---- End Icon ---- */
.bg-top {
  background-image: url("../images/background.svg");
  width: 100%;
  height: 431px;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  z-index: -1;
}

.main-layout {
  flex: 1;
}

/* --- section styles --- */
.section {
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.section__title {
  width: 100%;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #282e44;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.section__title--sub {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #282e44;
  opacity: 0.5;
}

.profile-bar {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  gap: 20px;
  margin-bottom: 76px;
}
.profile-bar > * {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 14px 5px 6px;
}

.navbar {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.navbar .active {
  background-color: #0a6ada;
}
.navbar a {
  text-decoration: none;
}
.navbar__menu {
  width: 100%;
  display: flex;
  height: 73px;
  align-items: center;
}
.navbar__menu li {
  list-style: none;
  width: 68px;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.navbar__menu li:hover {
  background-color: #0a6ada;
}
.navbar__menu li a {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.form-search {
  padding: 35px 38px 38px;
  margin-bottom: 42px;
}

.sidebar {
  width: 240px;
  height: 709px;
  flex: 0 0 auto;
  background: linear-gradient(141.08deg, #0a69da 32.24%, #0856c8 115.93%, #0231a5 164.9%);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}
.sidebar--menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 75px 46px 180px 24px;
}
.sidebar--menu > * {
  color: white;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
}
.sidebar--menu > *:hover {
  background-color: #0076ff;
}
.sidebar--footer {
  background-image: url("../images/img-bar-bottom.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 62px 30px 40px;
}
.sidebar--footer > div {
  display: flex;
  flex-direction: row;
  background-color: #f3f5fa;
  padding: 7px 10px;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.sidebar--footer > div .logo {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  background: linear-gradient(214.51deg, #d10015 13.77%, #ff4369 83.58%);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.sidebar .logo {
  width: 65px;
  height: 16px;
}
.sidebar .logo img {
  object-fit: cover;
  object-position: center;
}
.sidebar--bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}
.form .row {
  gap: 20px;
}
.form__item {
  flex: 1;
  padding: 14px 18px 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(124, 130, 155, 0.05);
  border: 1px solid #eef0f4;
  border-radius: 8px;
  font-weight: 400;
  color: #475073;
}
.form__item--large {
  min-width: 328px;
}
.form__item input,
.form__item select {
  border: none;
  background: none;
  outline: none;
  width: 100%;
}
.form__item--label {
  font-size: 12px;
  line-height: 12px;
  opacity: 0.3;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 2px;
}
.form__item--label option,
.form__item--label select {
  text-transform: uppercase;
}
.form__item--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #2e3758;
  display: flex;
}
.form__item--title input {
  width: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #2e3758;
}
.form__item--sub-title {
  font-size: 12px;
  line-height: 20px;
}
.form input[type=submit] {
  border-radius: 6px;
  background-color: #df142d;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  width: 224px;
  max-width: 224px;
}

#special-offer {
  overflow: hidden;
}
#special-offer .section__content {
  margin-left: -15px;
  overflow: hidden;
}
#special-offer .card {
  padding: 24px;
  width: 462px;
  height: 188px;
  display: flex;
  border-radius: 14px;
  gap: 30px;
}
#special-offer .card--img {
  width: 110px;
  border-radius: 14px;
  overflow: hidden;
}
#special-offer .card--img img {
  object-fit: cover;
  height: 100%;
}
#special-offer .card__label {
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.5;
  font-size: 12px;
  line-height: 12px;
}
#special-offer .card__title {
  font-weight: 800;
  color: #475073;
}
#special-offer .card__sub-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.9;
  color: #596181;
}
#special-offer .card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #6c738f;
}
#special-offer .card__footer span {
  text-transform: uppercase;
  font-weight: 700;
  color: #475073;
}
#special-offer .card__footer .btn {
  color: #df142d;
  padding: 8px 0;
  width: 98px;
}
#special-offer .card--text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 0;
}

#best-offer {
  padding: 29px 25px 14px 54px;
}
#best-offer .section__content div:last-child {
  border-bottom: none !important;
}

.flight {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  color: #282e44;
  font-weight: 700;
  justify-content: space-between;
  border-bottom: 1px solid #c1c4d0;
  padding: 25px 0;
}
.flight > * {
  flex: 1;
}
.flight__icon {
  display: flex;
  flex: 2;
  white-space: nowrap;
  align-items: center;
  gap: 20px;
}
.flight__icon img {
  height: 100%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.flight__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #a2a8bf;
}
.flight__name b {
  font-weight: 800;
  color: #282e44;
}
.flight__book button {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 7.5px;
  justify-content: center;
}

.banner {
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}
.banner img {
  width: 100%;
  height: 205px;
  object-fit: cover;
}
.banner__title {
  position: absolute;
  top: 58px;
  left: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: white;
}
.banner__price {
  position: absolute;
  top: 100px;
  left: 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  color: #df142d;
}
.banner--sub-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #e12819;
  text-transform: uppercase;
  position: absolute;
  top: 132px;
  left: 169px;
}
.banner__book {
  position: absolute;
  right: 40px;
  top: 70px;
}
.banner__book button {
  border-radius: 6px;
  color: #ffffff;
  background: #ffcb61;
  padding: 20px 0;
  text-transform: uppercase;
  width: 138px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
